.currencies_list {
  padding: 20px;
  background-color: #213547;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
  margin-top: 24px;
  min-width: 300px;

  &::-webkit-scrollbar {
    width: 4px;
    //padding: 2px;
    border: 4px solid transparent;
  }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      padding: 8px;
        background-color: transparent;

    }
}

.currencies_list h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.currencies_list ul {
  list-style: none;
  padding: 0;
}

.currencies_list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;

  & > span {
    color: #fff;
  }

  .currency_name {
    max-width: 300px;
  }
}

.currencies_list li:last-child {
  border-bottom: none;
}